<div class="ui text container">

  <div class="ui breadcrumb">
    <div class="active section">Home</div>
  </div>

  <h3 class="first">Тестове завдання для Front-End</h3>
  <p>
    Головна сторінка з полем вводу яке реагує на введення кожного символу.
    Внизу відображається список фільмів.
    Можна перейти на кожен фільм де отримати більш детальну інформацію.
  </p>
  <div class="ui icon input">
    <input type="text" placeholder="Search..." (input)="update($event)">
    <i class="search icon"></i>
  </div>
</div>

<br>
<div class="ui text container">
  <div *ngIf="searchResult">
    <h1>Total results: {{searchResult.total_results}}</h1>
    <p *ngIf="searchResult.total_results > 0" class="pagination">
      Page {{searchResult.page}} of {{searchResult.total_pages}}
      <span *ngIf="searchResult.page > 1">
        &nbsp;&nbsp;&nbsp; <a class="pagination__btn" (click)="nextPage(searchResult.page - 1)">Prev page</a> &nbsp;&nbsp;&nbsp;&nbsp;|
      </span>
      &nbsp;&nbsp;&nbsp; <a class="pagination__btn" (click)="nextPage(searchResult.page + 1)">Next page</a>
    </p>
    <ul>
      <li *ngFor="let film of searchResult.results">
        <a [routerLink]="['/movie-info', film.id]" id="{{film.id}}">{{film.original_title}}</a>
      </li>
    </ul>
  </div>
</div>
