<div class="ui text container">
  <div class="ui breadcrumb">
    <a routerLink="/" class="section">Home</a>
    <div class="divider"> / </div>
    <div class="section">Movie info</div>
  </div>
</div>
