<div class="ui text container">
  <div class="ui breadcrumb">
    <a routerLink="/" class="section">Home</a>
    <div class="divider"> / </div>
    <div class="section">Movie info</div>
  </div>
  <br><br>

  <div *ngIf="movieInfo" class="ui items">
    <div class="item">
      <div class="image">
        <img src="https://image.tmdb.org/t/p/w500{{movieInfo.poster_path}}">
      </div>
      <div class="content">
        <div class="header">{{movieInfo.title}}</div>
        <div class="meta">
          <span>{{movieInfo.tagline}}</span>
        </div>
        <div class="description">
            {{movieInfo.overview}}
        </div>
        <div class="extra">
          Оцінка: {{movieInfo.vote_average}} <br>
          Статус: {{movieInfo.status}} <br>
          Мова: {{movieInfo.original_language}} <br>
          18+: {{movieInfo.adult ? 'Так' : 'Ні'}}
        </div>
      </div>
    </div>
  </div>
</div>
